@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: roboto, sans-serif;
    background-color:#7e8f94;

    
}
.logo{
    display: inline-flex;
    align-items: center;
    padding-top: 40px;

    
    
    
    
}  

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(19,41,62);
    box-shadow:0 0 1rem black;
    padding-top: 22.5px;

}
.header-nav-ul{
    display: flex;
    margin: 23px;


}
.header-nav-il{
    color: whitesmoke;
    list-style-type:none;
    cursor: pointer;
    padding-left: 2rem;
    padding-bottom: 16rem;
    height: fit-content;
    width: fit-content;
    font-size: 27px;
    text-align: center;
}
