
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    header{
    }
    .logo{
        size-adjust: ;
        
    }
}	 

    
    
    /* Dicas */
    
    .div-video{
        text-align: justify;
    }
    #subtitulo-Lista-de-dicas, .titulo-video{
        font-size: 32px;
        border-bottom: solid 1px #1B98E0;
    }
    
    #dicas{
       
       
    }
    .section-video, .section-list {
       
    }
    .section-video{
        border-right: solid 1px #1B98E0;
    }
    iframe {
        
        border-radius: 10px;
        box-shadow: 1px 1px 5px #13293D;
    }
    .Lista-de-dicas-item{
        color:#fff;
    }
    
    footer {
        background-color: #13293D;

    }
    
    footer h2,footer p,footer a,footer span {
        color: white;
    }
    
    footer h2 {
        
    }
    
    footer a {
        text-decoration: none;
    }
    
    footer u {
       
    }
    
    footer li {
        list-style: none;
    }
    
    .footer-box {
    
    }
    
    footer.wrapper:after {
    }
    
    .container-footer p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .company-footer {
        margin-top: 20px;
    }
    
    .company-footer h2, .company-footer p {
    }
    
    /* Rodapé */
    .footer-list li {

    }
    
    .footer-list a {
        transition: 5s;
    }
    
    .footer-list a:hover {
        color: #13293D;
    
    }
    
    .footer-list li::after {
       
    
    }
    
    .articles-footer {
        
    }
    
    .footer-list.footer-articles-list span {
        
    }
    
    .fab {
        
        float: left;
    }
    
    .footer-list li span {
        
    
    
    }
    
    .footer-list h2 {
        
    
    }
    
    .footer-bottom {
      
    }
    
    .footer-bottom img {
        
    
    }
    
    .footer-bottom p {
        
    
    }



}




    