.caixa-pesquisa {
    box-shadow: 1px 1px 5px #13293D;
    margin: 100px;
    padding: 30px;
    background-color: #13293D;   
    border-radius: 10px; 
}

.título {
    /* color: #F0F0F0; */
    /* color: #1B98E0; */
    color: #E8F1F2;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 52px;
    text-shadow: -2px -2px 10px #1B98E0;
    margin-bottom: 10lopx;
}

.caixa-pesquisa #subtitulo-principal {
    text-align: center;
    color: #1B98E0;
    font-weight: bold;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#formulário-pesquisa{
    text-align: center;
}

#pesquisa-campo{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    background-color: #E8F1F2;    
    color: #1B98E0;
    cursor: pointer;
    transition: .5s;
}

::placeholder{
    font-weight: bold;    
    font-style: italic;
    text-align: center;
    color: #1B98E0;
}

#pesquisa-campo:hover{
    transform: scale(1.02);
}

#submit-pesquisa {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 90px;
    background-color: #1B98E0;    
    color: #E8F1F2;
    cursor: pointer;
    transition: .5s;
}

#submit-pesquisa:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px gray;
}
.resultado {
    background-color: #006494;
    margin: 20px;
    padding: 20px;
}

